# Unreal Engine 基础忽略文件
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

# Ignore Unreal Starter Content
Content/StarterContent/
Content/CitizenNPC/
Content/Fluorescence/
Content/Hospital_Meshingun/
Content/FPWeapon/
Content/FirstPerson/
Content/FirstPersonCPP/Blueprints/
Content/Geometry/Meshes/
Content/MyContent/Mannequin



# Visual Studio 和 VS Code 相关
.vscode/
.vs/
*.VC.db
*.sln
*.opensdf
*.sdf
*.VC.opendb
*.ignore
*.code-workspace

# Xcode 相关（如果跨平台）
*.xcworkspace
*.xcodeproj
*.xcuserdata

# Mac 系统文件
.DS_Store

# 编译生成中间文件
*.obj
*.pdb
*.ipch
*.log

# 用户/本地设置
*.user
*.userprefs
*.suo
*.tmp

# 本地 Git 信息
.git/

# 如果启用了 Git LFS，则不需要手动跟踪大文件
*.ubulk
*.ufont